.h2 {
  position: relative;
}
.h2::after {
  position: absolute;
  left: 47%;
  bottom: -30%;
  display: block;
  content: "";
  height: 5px;
  width: 90px;
  background: coral;
  border-radius: 10px;
}

@media only screen and (max-width: 991px) {
  .h2::after {
    display: none;
  }
}
